$primary    : #161616;
$secondary  : lighten($primary, 6%);
$outline    : lighten($primary,30%);//rgb(109, 109, 109);
$highlight  : #2b71db;
$accent     : #3ac55d;

$dark       : #1D1D1D;

$positive   : #21BA45;
$negative   : #C10015;
$info       : #31CCEC;
$warning    : #F2C037;

$font-primary: 'Lato', sans-serif;
$font-color: white;